body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

figure {
    size:50px;
}

#scholarships, #info {
    margin:20px;
}